@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

body{
  font-family: "Protest Strike", system-ui;
  overflow: hidden;
  background: conic-gradient(at top right, lightcyan, lightblue);
}

.container{
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digitalClock{
  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 2px;
  color: white;
}

.digitalClock h1{
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
  font-size: 5rem;
}

@media(max-width: 768px){
  #bar1, #bar2{
      display: none;
  }

  .digitalClock{
    text-align: center;
    width: 100%;
  }
}

  .digitalClock h1{
    display: block;
  }

@media(max-width: 480px){
  .digitalClock h1{
    font-size: 4rem;

  }
}